#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.ivu-checkbox-large .ivu-checkbox-inner{
    width: 20px !important;
    height: 20px !important;
}

.ivu-checkbox-large .ivu-checkbox-checked .ivu-checkbox-inner:after{
    top: 2px;
    left: 6px;
}

.div-card{
    width: 800px;
    margin: 100px auto;
    background-color: white;
    font-size: 18px;
    border-radius: 10px !important;
    border: 4px solid
}

.div-header{
    margin-top: 30px;
    margin-left: 45px;
}

.div-header-title{
    width: 100%;
    text-align: left;
}

.div-header-comment{
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.div-body{
    margin-top: 30px;
    text-align: left;
    margin-left: 45px;
    height: 400px;
}

.div-body-input{
    width: 550px !important;
}

.div-body-add-button{
    margin-left: 10px;width: 70px;
}

.div-body-data-table{
    margin-top: 50px;
    margin-left: 10px;
}

.div-body-data-table-dl{
    font-size: 20px !important;
    width: 88%;
    max-height: 270px;
    overflow-y: auto;
}

.div-body-data-table-dl-dt{
    height: 40px;
}

.div-body-data-table-dl-dt-checkbox{
    font-size: 20px !important;
}


.div-body-data-table-dl-dt-input{
    width: auto !important;
    top: -2px;
}

.div-body-data-table-dl-dt-del{
    color: #999;
}

.div-footer{
    margin-left: 20px;
}

.div-footer-button{
    background-color:red;
    width:70px;
    margin-right: 50px;
}

.div-footer-button-complete{
    background-color:red;
    color: cornsilk;
    width:100px;
    margin-right: 50px;
}
.display{
    display: none;
}
.display1{
    display: block;
    position: absolute;
    top: 0;
    right: -450px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    margin-bottom: auto;
    font-size: 30px;
    color: #cc9a9a;
    line-height: 10px;
    transition: color 0.2s ease-out;
    background: transparent;
    border: none;

}
.div-page-top-span{
    font-size: 30px;
    float: left;
}
.div-page-top{
    height: 100px;
    background-color: greenyellow
}
.div-page-content{
    height: 500px;
}
.div-page-content-left{
    height: 700px;
    background-color: darksalmon;
    width: 15%;
}
.div-page-content-right{
    margin-top:-700px;
    float:right;
    width: 85%;
}
.div-page-top-doList{
    margin-top:5px;
    background-color: aqua;
    font-size:30px;
    float: left;
    width:100%
}
.div-page-top-name{
    padding-top: 100px;
}